# Ignore latex make-files
*.aux
*.bbl
*.fls
*.out
*.synctex.gz
*.toc
*.log
*.fdb_latexmk

# Ignore data folder(s) for fear of large files
**/Data/
/Library/
#**/QGIS/Geo-ISD.csv

# Adding large files by script
QGIS/Geo-ISD.csv
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
R/Data/nga_general_2020.tif
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
R/Data/drcResult.rdata
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
QGIS/Geo-ISD.csv
QGIS/popdsf.shp
R/Data/PRIO-Grid/PRIO-GRID Yearly Variables for 1946-2014 - 2021-06-04.csv
R/Data/PRIO-Grid/priogridyv50-10.csv
