Bellin1764_modifiedItif
Berghaus1836_2_modified.tif
Berghaus1836_modified.tif
icr/marius/Bradford184_modified_poly3
icr/marius/Letts1883_modified_poly3
icr/marius/Berghaus1836_modified.tif
icr/marius/Appleton1891I_modified.tif
icr/marius/Bradford184_modified_poly1
icr/marius/Letts1883_modified
icr/marius/Berghaus1836_2_modified.tif
icr/marius/Bellin1764_modifiedItif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified.tif
icr/oda/OneDrive_7_1-29-2024/Bellin1764_modifiedItif.tif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified_secondtry.tif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified_thirdtry.tif
icr/oda/OneDrive_7_1-29-2024.zip
icr/stine/OneDrive_9_1-29-2024/Berghaus1836_modified.tif
icr/stine/OneDrive_9_1-29-2024/Bellin1764_modifiedItif.tif
icr/stine/OneDrive_9_1-29-2024.zip
icr/christoffer/OneDrive_2_1-29-2024/Berghaus1836_modified.tif
icr/christoffer/OneDrive_2_1-29-2024/Bellin1764_modifiedItif
icr/christoffer/OneDrive_2_1-29-2024.zip
icr/cristina/OneDrive_4_1-29-2024/Berghaus1836_modified_cm.tif
icr/cristina/OneDrive_4_1-29-2024/Bellin1764_modifiedItif_cm.tif
icr/cristina/OneDrive_4_1-29-2024.zip
maps/Diercke1883.tif
maps/Homann1752_modified.tif
maps/Grenet1791I_modified.tif
maps/Arrowsmith1844b
maps/Gray1884.tif
maps/Habenicht1885.tif
maps/Meyer1852a.tif
maps/Garnier1862c_modified.tif
maps/Arrowsmith1832.tif
maps/Arrowsmith1880.tif
maps/Graf1867.tif
maps/Reilly1795I_modified.tif
maps/Mitchell1890.tif
maps/Diercke1896.tif
maps/Lange1809.tif
maps/Hasio1737_modified.tif
maps/borno_1834_I_modified.tif
maps/sokoto_caliphate_legacies_map_1895_1_modified.tif
maps/Keipert1856_modified.tif
maps/Johnston1912.tif
maps/Lapie1816_modified.tif
icr/marius/Bradford184_modified_poly3
icr/marius/Letts1883_modified_poly3
icr/marius/Berghaus1836_modified.tif
icr/marius/Appleton1891I_modified.tif
icr/marius/Bradford184_modified_poly1
icr/marius/Letts1883_modified
icr/marius/Berghaus1836_2_modified.tif
icr/marius/Bellin1764_modifiedItif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified.tif
icr/oda/OneDrive_7_1-29-2024/Bellin1764_modifiedItif.tif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified_secondtry.tif
icr/oda/OneDrive_7_1-29-2024/Berghaus1836_modified_thirdtry.tif
icr/oda/OneDrive_7_1-29-2024.zip
icr/stine/OneDrive_9_1-29-2024/Berghaus1836_modified.tif
icr/stine/OneDrive_9_1-29-2024/Bellin1764_modifiedItif.tif
icr/stine/OneDrive_9_1-29-2024.zip
icr/christoffer/OneDrive_2_1-29-2024/Berghaus1836_modified.tif
icr/christoffer/OneDrive_2_1-29-2024/Bellin1764_modifiedItif
icr/christoffer/OneDrive_2_1-29-2024.zip
icr/cristina/OneDrive_4_1-29-2024/Berghaus1836_modified_cm.tif
icr/cristina/OneDrive_4_1-29-2024/Bellin1764_modifiedItif_cm.tif
icr/cristina/OneDrive_4_1-29-2024.zip
maps/Diercke1883.tif
maps/Homann1752_modified.tif
maps/Grenet1791I_modified.tif
maps/Arrowsmith1844b
maps/Gray1884.tif
maps/Habenicht1885.tif
maps/Meyer1852a.tif
maps/Garnier1862c_modified.tif
maps/Arrowsmith1832.tif
maps/Arrowsmith1880.tif
maps/Graf1867.tif
maps/Reilly1795I_modified.tif
maps/Mitchell1890.tif
maps/Diercke1896.tif
maps/Lange1809.tif
maps/Hasio1737_modified.tif
maps/borno_1834_I_modified.tif
maps/sokoto_caliphate_legacies_map_1895_1_modified.tif
maps/Keipert1856_modified.tif
maps/Johnston1912.tif
maps/Lapie1816_modified.tif
