#mh1 {
	font-weight: 100;
	text-align: center;
	display: block;
	letter-spacing: 50px;
	font-size: 4vw;
	font-family: "Times New Roman";
	font-stretch: ultra-condensed;
	margin-top: 300px;
	margin-bottom 250;
	width: 60vw;
	text-transform: uppercase;
}
.flip {
  	padding: 16px 51px;
	width: 6vw;
  	text-align: center;
	text-transform: uppercase;
	margin-bottom 250;
}
.megaflip {
  	padding: 1px 30px;
	width: 20vw;
  	text-align: center;
}
.miniflip {
  	text-align: center;
	text-transform: uppercase;
	margin-bottom 250;
}
.flip:hover, .flip:active {
	color: gray;
}
.flip2 {
  	padding: 16px 51px;
	width: 9wm;
  	text-align: center;
	text-transform: uppercase;
}
.flip2:hover, .flip2:active {
	border: 1px solid white;
	padding: 15px 50px;
}
a:link, a:visited {
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	font-size: 20px;
	color: black;
}
.center {
	text-align: center;
	margin-top: 100px;
}
.center li {
	display: inline-block;
}
.hidden {
	display: none;
	margin-top: 100px;
	text-align: center;
}
h1 {
	font-weight: normal;
	font-family: "Times New Roman";
	text-transform: uppercase;
}
h2 {
	font-weight: normal;
	font-family: "Times New Roman";
	text-transform: uppercase;
}
a {
	font-family: "Times New Roman";
}
a:hover {
	color:gray;
}
hr.new1 {
	width: 60%;
}
hr.new2 {
	width: 30%;
}
.bottom {
	margin-bottom: 5cm;
}
.info img {
	display: inline-block;
    	margin-left: auto;
    	margin-right: auto;
	padding: 35px;
}
.info p {
	display: inline-block;
    	margin-left: auto;
    	margin-right: auto;
	width: 40%;
	text-align:justify;
	vertical-align: top;
}
.info a {
	font-size:inherit;
}
.info {
	text-align: center;
}

