#mh1 {
	font-weight: 100;
	text-align: center;
	letter-spacing: 50px;
	font-size: 100px;
	font-family: "Times New Roman";
	font-stretch: ultra-condensed;
	margin-top: 400px;
	margin-bottom 250;
	text-transform: uppercase;
}
a:link, a:visited {
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	font-size: 25px;
	color: black;
}
a:hover, a:active {
	border: 1px solid black;
}
.center {
	margin: auto;
	list-style-type: none;
	text-align: center;
	margin-top: 100px;
}
.center li {
	display: inline-block;
}

